<!--<h1>Demo Angular</h1>-->
<!--<ul *ngIf="studenti.length>0">
    <li *ngFor="let studente of studenti">{{studente}}</li>
</ul>
<p *ngIf="studenti.length==0">Nessuno studente trovato</p>-->
<!--<app-erastotene></app-erastotene>
<app-footer></app-footer>-->

<div class="sidebar h-100">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/erastotene">Erastotene</a></li>
        <li><a href="/utenti">Utenti</a></li>
    </ul>
</div>
<div class="content h-100">
    <router-outlet/>
</div>