.cella
{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid darkgrey;
    float: left;
    text-align: center;
}

.primo
{
    background-color: green;
    color: white;
}

.nonprimo
{
    background-color: lightgray;
}